*{
    margin: 0;
    padding: 0;
  }
  header {
    font-family: Arial, sans-serif;
  }
  .bar1 {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 55px;
    background-color: #fff;
    border-bottom: 1px solid #bbb8b8;
  }
  .logo {
    max-height: 110px;
    object-fit: contain;
    display: block;
  }
    
  .right {
    display: flex;
    align-items: center;
    gap: 50px;
  }
    
  .info div {
    font-size: 14px;
    color: #333;
  }
    
  .icons a img {
    width: 22px;
    margin-left: 10px;
  }
    
  .login {
    background-color: #c2953f;
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
  }
  .login:hover {
    background-color: #003f7f;
  }
  .navbar {
    background-color: #fff;
    border-top: 1px solid #eee;
    border-bottom: 2px solid #004080;
    padding: 10px 0;
  }
    
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
    
  .navbar a {
    text-decoration: none;
    color: #004080;
    font-weight: 500;
    padding: 10px 15px;
    transition: 0.3s ease;
    border-radius: 4px;
  }
    
  .navbar a:hover,
  .navbar a.active {
    background-color: #004080;
    color: #fff;
  }
  .notice p {
    font-size: 14px;
    color: #261452;
    font-weight: 500;
    animation: animate 2s infinite alternate;
  }
  @keyframes animate {
    80% {
      color: #04044b;
    }
    20% {
      color: #9b7505;
    }
  }
  .intro {
    padding: 60px 20px;
    background: linear-gradient(to right, #9b7505, #071b2d);
    text-align: center;
    color: white;
  }
    
  .intro h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
    
  .intro p {
    font-size: 17.6px;
  }
  .admissions-intro {
    background-color: #f9f9f9;
    padding: 10px;
    text-align: center;
    margin: 30px auto;
    font-size: 17px;
    color: #071b2d;
    line-height: 1.7;
    border: 2px solid #9b7505;
    display: flex;
  }
  .admissions-intro p{
    margin: 70px;
  }
  .admissions-intro img {
    height: 250px;
    border-radius: 12px;
  }      
  .process {
    background: linear-gradient(
    rgba(255, 255, 255, 0.8), 
    rgba(255, 255, 255, 0.9)
    ),
    url("images/pattern.jpeg");
    text-align: center;
    padding: 10px 20px;
    text-align: center;
  }
  
  .process h2 {
    font-size: 30px;
    color: #9b7505;
    margin-bottom: 40px;
  }
  .process p{
    font-size: 17px;
    margin: 10px 0;
  }
  
  .process-box {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .step {
    background-color: #f9f9f9;
    padding: 25px;
    border: 2px solid #9b7505;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.06);
    color: #071b2d;
  }
  
  .step-number {
    font-size: 32px;
    background-color: #D4A62A;
    display: inline-block;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  .eligibility {
    padding: 60px 20px;
    background: linear-gradient(
    rgba(255, 255, 255, 0.8), 
    rgba(255, 255, 255, 0.9)
    ),
    url("images/pattern.jpeg");
    text-align: center;
  }
  
  .eligibility h2 {
    font-size: 30px;
    color: #9b7505;
    margin-bottom: 15px;
  }
  
  .eligibility p {
    font-size: 17px;
    margin-bottom: 30px;
    color: #071b2d;
  }
  
  .eligibility-table {
    max-width: 700px;
    margin: 0 auto;
  }
  
  .eligibility-table table {
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    color: #071b2d;
  }
  
  .eligibility-table th,
  .eligibility-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .eligibility-table th {
    background-color: #9b7505;
    color: white;
  }
  .documents {
    background: linear-gradient(
    rgba(255, 255, 255, 0.8), 
    rgba(255, 255, 255, 0.9)
    ),
    url("images/pattern.jpeg");
    padding: 20px;
    text-align: center;
    border-top: 1px solid #9b7505;
  }
  
  .documents h2 {
    font-size: 30px;
    color: #9b7505;
    margin-bottom: 15px;
  }
  
  .doc-intro {
    font-size: 17px;
    color: #071b2d;
    margin-bottom: 40px;
  }
  
  .documents-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .doc-item {
    background-color: #f9f9f9;
    padding: 20px;
    font-size: 30px;
    color: #071b2d;
    margin-bottom: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    border: 2px solid #9b7505;
  }
  
  .doc-item p {
    margin-top: 10px;
    font-size: 17px;
  }
  .fee-download {
    text-align: center;
    margin: 40px 0;
  }
  
  .fee-download p {
    font-size: 19px;
    margin-bottom: 30px;
    color: #071b2d;
  }
  
  .download-btn {
    background-color: #D4A62A;
    color: #000;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
  }
  
  .download-btn:hover {
    background-color: #b58d23;
  }

  .apply {
    background: linear-gradient(to right, #9b7505, #071b2d);
    color: white;
    padding: 30px 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .apply h2 {
    font-size: 30px;
    margin-bottom: 20px;
   }
  
  .apply p {
    font-size: 17px;
    max-width: 700px;
    margin: 0 auto 30px;
  }
  
  .apply-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .cta-btn {
    padding: 12px 28px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
  }
  
  .cta-btn.primary {
    background-color: #D4A62A;
    color: #000;
  }
  
  .cta-btn.primary:hover {
    background-color: #b68c23;
  }
  
  .cta-btn.secondary {
    background-color: transparent;
    border: 2px solid white;
    color: white;
  }
  
  .cta-btn.secondary:hover {
    background-color: white;
    color: #002D62;
  }
  .footer {
    background-color: #051325;
    color: #ffffff;
    padding: 40px 20px 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .footer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-column {
    flex: 1 1 300px;
    margin: 20px;
  }
  
  .footer-column h4 {
    font-size: 19.2px;
    margin-bottom: 15px;
    border-bottom: 2px solid #D4A62A;
    display: inline-block;
    padding-bottom: 5px;
  }
  
  .footer-column p,
  .footer-column ul {
    font-size: 15.2px;
    line-height: 1.6;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-column ul li a:hover {
    color: #D4A62A;
  }
  
  .footer-icons a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-icons img {
    height: 24px;
    transition: filter 0.3s ease;
  }
  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14.4px;
    border-top: 1px solid #ffffff;
    padding-top: 15px;
  }