*{
  margin: 0;
  padding: 0;
}
header {
  font-family: Arial, sans-serif;
}
.bar1 {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 55px;
  background-color: #fff;
  border-bottom: 1px solid #bbb8b8;
}
.logo {
  max-height: 110px;
  object-fit: contain;
  display: block;
}
  
.right {
  display: flex;
  align-items: center;
  gap: 50px;
}
  
.info div {
  font-size: 14px;
  color: #333;
}
  
.icons a img {
  width: 22px;
  margin-left: 10px;
}
  
.login {
  background-color: #c2953f;
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}
.login:hover {
  background-color: #003f7f;
}
.navbar {
  background-color: #fff;
  border-top: 1px solid #eee;
  border-bottom: 2px solid #004080;
  padding: 10px 0;
}
  
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}
  
.navbar a {
  text-decoration: none;
  color: #004080;
  font-weight: 500;
  padding: 10px 15px;
  transition: 0.3s ease;
  border-radius: 4px;
}
  
.navbar a:hover,
.navbar a.active {
  background-color: #004080;
  color: #fff;
}
.notice p {
  font-size: 14px;
  color: #261452;
  font-weight: 500;
  animation: animate 2s infinite alternate;
}
@keyframes animate {
  80% {
    color: #04044b;
  }
  20% {
    color: #9b7505;
  }
}
.video {
  position: relative;
  height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.sec1 {
  position: absolute;
  top: 15%;
  text-align: center;
  padding: 30px;
}

.sec1 h1 {
  font-size: 48px;
  margin-bottom: 18px;
  text-shadow: 2px 1px black;
}

.sec1 p {
  font-size: 18px;
  margin: 0 auto;
  width: 75%;
  line-height: 1.4;
}
.btn {
  background-color: #D4A62A;
  padding: 15px 25px;
  font-size: 19px;
  margin: 30px auto;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  display: inline-block;
}

.btn:hover {
  background-color: #003f7f;
}
.sec2 {
  padding: 60px 20px;
  text-align: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.8), 
    rgba(255, 255, 255, 0.9)
  ),
  url("images/pattern.jpeg");
  display: flex;
  align-items: center;
  gap: 40px;
}
.about{
  width: 50%;
  border-right: 2px solid #9b7505;
  color: #0c0c43;
}
.about h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #9b7505;
  animation: animate 2s infinite alternate;
}
@keyframes animate {
80% {
  color: #04044b;
}
20% {
  color: #9b7505;
}
}

.about p {
  max-width: 800px;
  margin: 0 auto 40px;
  font-size: 18px;
  line-height: 1.6;
}
.about-collage {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  max-width: 800px;
  margin: 0 auto;
}

.about-collage img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.about-collage img:hover {
  transform: scale(1.05);
}

.sec3 {
  display: flex;
  flex-wrap: wrap;
}
.sec3-begin{
  background: linear-gradient(
      rgba(255, 255, 255, 0.9), 
      rgba(255, 255, 255, 0.9)
    ),
    url("images/pattern.jpeg");
}
#sec3-h2{
  text-align: center;
  font-size: 25px;
  margin: 20px 0 30px;
  color: #9b7505;
}
.program {
  width: 33.33%;
  box-sizing: border-box;
  padding: 20px;
  color: white;
}
.program h3{
  margin: 40px 20px 0;
  font-size: 20px;
}
.program p {
  margin: 20px 20px;
  line-height: 1.4;
}

.box-yellow {
  background-color: #b98e3f;
}

.box-blue {
  background-color: #05081c;
}
.program-image {
  width: 33.33%;
  height: 300px;
  overflow: hidden;
}

.program-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sec4 {
  padding: 60px 30px;
  text-align: center;
  color: #0b0b25;
  background: linear-gradient(
    rgba(255, 255, 255, 0.9), 
    rgba(255, 255, 255, 0.9)
  ),
  url("images/pattern.jpeg");
}
.sec4 h2{
  font-size: 36px;
  margin-bottom: 10px;
  color: #89690a;
}

.sec4 p {
  font-size: 18px;
  max-width: 700px;
  margin: 10px auto 30px;
}

.pros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.reason-box {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  transition: transform 0.3s ease;
  border: 2px solid #8f620b;
}

.reason-box:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 36px;
  margin-bottom: 15px;
  display: block;
}
.reviews {
  padding: 10px 30px 60px;
  background-color: #f9f9f9;
  text-align: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.9), 
    rgba(255, 255, 255, 0.9)
  ),
  url("images/pattern.jpeg");
}

.reviews h2 {
  font-size: 36px;
  color: #9b7505;
  margin-bottom: 40px;
}

.review-gallery {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.review-gallery img {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.review-gallery img:hover {
  transform: scale(1.03);
}
.cta-section {
  background: linear-gradient(to right, #9b7505, #071b2d);
  color: white;
  padding: 80px 20px;
  text-align: center;
  margin-bottom: 30px;
}

.cta-content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.cta-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.cta-btn {
  padding: 12px 28px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.cta-btn.primary {
  background-color: #D4A62A;
  color: #000;
}

.cta-btn.primary:hover {
  background-color: #b48b23;
}

.cta-btn.secondary {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.cta-btn.secondary:hover {
  background-color: white;
  color: #002D62;
}
.footer {
  background-color: #051325;
  color: #ffffff;
  padding: 40px 20px 20px;
  font-family: 'Arial', sans-serif;
}

.footer-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1 1 300px;
  margin: 20px;
}

.footer-column h4 {
  font-size: 19.2px;
  margin-bottom: 15px;
  border-bottom: 2px solid #D4A62A;
  display: inline-block;
  padding-bottom: 5px;
}

.footer-column p,
.footer-column ul {
  font-size: 15.2px;
  line-height: 1.6;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #D4A62A;
}

.footer-icons a {
  display: inline-block;
  margin-right: 10px;
}

.footer-icons img {
  height: 24px;
  transition: filter 0.3s ease;
}
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14.4px;
  border-top: 1px solid #ffffff;
  padding-top: 15px;
}